@import url(../fonts/exo2.0/stylesheet.css);
@import url(../fonts/minionpro/minionpro.css);
@import url(../fonts/neris/neris.css);
@import url(../fonts/play/play.css);
/* Helper classes
   ========================= */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after,
.container:after {
  clear: both;
}
.clearfix,
.container {
  *zoom: 1;
}
.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
/* Base styles
   ========================= */
* {
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
button,
input,
select,
textarea {
  color: #ffffff;
  font-family: 'exo_2.0light';
}
html {
  font-size: 1em;
  line-height: 1.3;
}
html,
body {
  width: 100%;
  height: 100%;
}
.overflow {
  overflow: hidden;
}
.section {
  overflow: hidden;
}
.container {
  height: 100%;
  width: 970px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.block-01 {
  height: 950px;
  background: url("../img/block-01_bg.jpg") top center no-repeat;
  background-size: cover;
}
.block-01 .logo {
  top: 20%;
  left: 50%;
  width: 159px;
  height: 117px;
  position: absolute;
  margin-left: -80px;
  background: url("../img/logo.png") 0 0 no-repeat;
}
.block-01 .topnav {
  left: 0;
  top: 60px;
  width: 600px;
  height: 30px;
  position: absolute;
}
.block-01 .topnav li {
  margin: 0 12px;
  display: inline-block;
  text-transform: uppercase;
}
.block-01 .topnav li a {
  font-size: 14px;
  line-height: 20px;
  color: #e9a13b;
  font-family: 'exo_2.0semi_bold';
}
.block-01 .topnav li a:hover {
  color: #ffc35d;
}
.block-01 h1 {
  top: 40%;
  left: 0;
  width: 100%;
  position: absolute;
}
.block-01 h1 span {
  display: block;
}
.block-01 h1 span.first {
  font-size: 30px;
}
.block-01 h1 span.last {
  font-size: 36px;
}
.block-01 .benefit {
  left: 0;
  width: 100%;
  bottom: 15%;
  position: absolute;
  overflow: hidden;
}
.block-01 .benefit li {
  float: left;
  width: 194px;
  font-size: 16px;
  text-align: center;
  padding: 80px 10px 0 10px;
}
.block-01 .benefit li.item1 {
  background: url("../img/block-01_item1.png") top center no-repeat;
}
.block-01 .benefit li.item2 {
  background: url("../img/block-01_item2.png") top center no-repeat;
}
.block-01 .benefit li.item3 {
  background: url("../img/block-01_item3.png") top center no-repeat;
}
.block-01 .benefit li.item4 {
  background: url("../img/block-01_item4.png") top center no-repeat;
}
.block-01 .benefit li.item5 {
  background: url("../img/block-01_item5.png") top center no-repeat;
}
.block-01 .move-down {
  left: 50%;
  bottom: 15px;
  width: 15px;
  height: 49px;
  margin-left: -8px;
  position: absolute;
  background: url("../img/icon_move-down.png") 0 0 no-repeat;
}
.block-02 {
  height: 950px;
  background: url("../img/block-02_bg.jpg") top center no-repeat;
  background-size: cover;
}
.block-02 .page-center {
  height: 640px;
  margin-top: -320px;
}
.block-02 h2 {
  text-align: center;
  margin-bottom: 50px;
}
.block-02 .certificate {
  height: 272px;
  overflow: hidden;
  margin-left: -23px;
  margin-right: -23px;
  margin-bottom: 50px;
}
.block-02 .certificate li {
  float: left;
  width: 205px;
  height: 272px;
  margin: 0 23px;
  display: table;
  cursor: pointer;
  border: 1px solid #b6b5b4;
}
.block-02 .certificate li:hover {
  border-color: #22223d;
}
.block-02 .certificate li .inner {
  width: 203px;
  height: 270px;
  position: relative;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.block-02 .certificate li .certificate-img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: none;
  cursor: pointer;
  position: absolute;
}
.block-02 .certificate li:hover .certificate-img {
  display: block;
}
.block-02 .word li {
  float: left;
  width: 460px;
  margin-right: 40px;
}
.block-02 .word li:last-child {
  margin-right: 0;
  opacity: .5;
  filter: alpha(opacity=50);
}
.block-02 .word li .item-title {
  height: 50px;
  font-size: 30px;
  line-height: 30px;
  padding: 10px 14px;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  display: inline-block;
  background: url("../img/pattern01.png");
}
.block-02 .word li .item-title .first {
  top: -15px;
  left: 14px;
  font-size: 18px;
  position: absolute;
  white-space: nowrap;
}
.block-03 {
  color: #2f313c;
  height: 950px;
  background: url("../img/block-03_bg.jpg") top center no-repeat;
  background-size: cover;
}
.block-03 .page-center {
  height: 550px;
  margin-top: -250px;
}
.block-03 .top-contact .phone {
  color: #2f313c;
}
.block-03 h2 {
  text-align: center;
  margin-bottom: 100px;
}
.block-03 .schema {
  margin-bottom: 160px;
}
.block-03 .schema li {
  float: left;
  width: 192px;
  text-align: center;
  padding-bottom: 40px;
  font-family: 'exo_2.0extra_light';
  background: url("../img/block-03_item-list.png") 50% 15px no-repeat;
}
.block-03 .schema li .step {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}
.block-03 .left-box {
  width: 40%;
  float: left;
  font-family: 'exo_2.0extra_light';
}
.block-03 .right-box {
  width: 40%;
  float: right;
  text-align: right;
}
.block-04 {
  height: 950px;
  background: url("../img/block-04_bg.jpg") top center no-repeat;
  background-size: cover;
}
.block-04 h2 {
  font-size: 42px;
  text-align: center;
  margin-bottom: 60px;
}
.block-04 h2 span {
  font-size: 48px;
  display: block;
}
.block-04 .page-center {
  height: 520px;
  margin-top: -260px;
}
.block-04 .achievements {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
.block-04 .achievements li {
  float: left;
  height: 100px;
  color: #0c0916;
  margin: 0 5px;
  font-size: 18px;
  line-height: 20px;
  padding-top: 20px;
  position: relative;
  padding-right: 20px;
  background: #e2e1e4;
  font-family: 'exo_2.0extra_light';
}
.block-04 .achievements li.item1 {
  width: 320px;
  padding-left: 166px;
}
.block-04 .achievements li.item2 {
  width: 225px;
  padding-left: 75px;
}
.block-04 .achievements li.item3 {
  width: 225px;
  padding-left: 75px;
}
.block-04 .achievements li span {
  top: 10px;
  left: 20px;
  font-size: 85px;
  line-height: 85px;
  position: absolute;
  font-family: 'exo_2.0extra_light';
}
.block-04 .object {
  margin-left: -15px;
  margin-right: -15px;
}
.block-04 .object li {
  float: left;
  width: 168px;
  height: 168px;
  margin: 0 15px;
  font-size: 18px;
  padding-top: 112px;
  text-align: center;
  font-family: 'exo_2.0light';
  border: 1px solid #464356;
}
.block-04 .object li.item1 {
  background: url("../img/block-04_item1.png") 50% 45px no-repeat;
}
.block-04 .object li.item2 {
  background: url("../img/block-04_item2.png") 50% 35px no-repeat;
}
.block-04 .object li.item3 {
  background: url("../img/block-04_item3.png") 50% 38px no-repeat;
}
.block-04 .object li.item4 {
  background: url("../img/block-04_item4.png") 50% 47px no-repeat;
}
.block-04 .object li.item5 {
  background: url("../img/block-04_item5.png") 50% 45px no-repeat;
}
.block-04 .bottom-block .text {
  font-size: 18px;
}
.block-05 {
  height: 950px;
  background: url("../img/block-05_bg.jpg") top center no-repeat;
  background-size: cover;
}
.block-05 .page-center {
  height: 440px;
  margin-top: -220px;
}
.block-05 .inner {
  padding-top: 145px;
  padding-left: 500px;
}
.block-05 h2 {
  font-size: 42px;
  margin-bottom: 50px;
}
.block-05 h2 span {
  font-size: 24px;
  font-family: 'exo_2.0extra_light';
}
.block-05 ul li {
  font-size: 18px;
  padding-left: 40px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  font-family: 'exo_2.0extra_light';
  background: url("../img/list-cheked.png") 0 0 no-repeat;
}
.block-05 ul li a {
  color: #e9a13b;
  text-decoration: none;
}
.block-05 .price {
  color: #9e9392;
  font-size: 24px;
  font-family: 'exo_2.0extra_light';
}
.block-05 .price span {
  color: #fff;
  font-size: 42px;
  font-family: 'exo_2.0light';
}
.block-06 {
  height: 950px;
  color: #2f313c;
  background: url("../img/block-06_bg.jpg") top center no-repeat;
  background-size: cover;
}
.block-06 .top-contact .phone {
  color: #2f313c;
}
.block-06 .page-center {
  height: 440px;
  margin-top: -220px;
}
.block-06 .inner {
  padding-left: 500px;
}
.block-06 h2 {
  font-size: 42px;
  margin-bottom: 50px;
}
.block-06 ul li {
  font-size: 20px;
  padding-left: 40px;
  margin-bottom: 30px;
  font-family: 'exo_2.0extra_light';
  background: url("../img/list-arrow.png") 0 10px no-repeat;
}
.block-07 {
  height: 950px;
  background: url("../img/block-07_bg.jpg") top center no-repeat;
  background-size: cover;
}
.block-07 .inner {
  padding-top: 140px;
  padding-left: 506px;
}
.block-07 h2 {
  height: 170px;
  font-size: 42px;
  margin-bottom: 42px;
}
.block-07 h2 span {
  color: #d4d7d9;
  font-size: 30px;
}
.block-07 .period {
  height: 50px;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 40px;
  padding: 5px 0 5px 100px;
  background: url("../img/calendar.png") left center no-repeat;
}
.block-07 .slider {
  width: 520px;
  height: 215px;
  overflow: hidden;
}
.block-07 .slider li {
  float: left;
  width: 220px;
  height: 215px;
  line-height: 1;
  position: relative;
  margin-right: 32px;
  background: url("../img/pattern05.png");
  border: 1px solid #acacaf;
  padding: 20px 50px 20px 30px;
}
.block-07 .slider li .slide-text {
  font-size: 16px;
  font-family: 'exo_2.0extra_light';
}
.block-07 .slider li .slide-text span {
  font-size: 18px;
  margin-bottom: 60px;
  font-family: 'exo_2.0light';
}
.block-07 .slider li .num {
  font-size: 60px;
  color: #e9a13b;
  font-family: 'exo_2.0extra_light';
}
.block-07 .slider li .num span {
  font-size: 14px;
  font-family: 'exo_2.0light';
}
.block-07 .slider li .num i {
  display: block;
  margin-top: -10px;
  font-style: normal;
}
.block-07 .slider .arrow-left {
  top: 50%;
  right: 0;
  width: 13px;
  height: 26px;
  cursor: pointer;
  margin-top: -13px;
  position: absolute;
  background: url("../img/nav.png") 0 0 no-repeat;
}
.block-07 .slider .arrow-right {
  top: 50%;
  left: 0;
  width: 13px;
  height: 26px;
  cursor: pointer;
  margin-top: -13px;
  position: absolute;
  background: url("../img/nav-right.png") 0 0 no-repeat;
}
.block-08 {
  color: #2f313c;
  height: 950px;
  background: url("../img/block-08_bg.jpg") top center no-repeat;
  background-size: cover;
}
.block-08 .top-contact .phone {
  color: #2f313c;
}
.block-08 .page-center {
  height: 640px;
  margin-top: -340px;
}
.block-08 .inner {
  width: 460px;
}
.block-08 h2 {
  color: #2f313c;
  font-size: 42px;
  margin-bottom: 40px;
}
.block-08 .period {
  height: 50px;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 30px;
  padding: 5px 0 5px 100px;
  background: url("../img/calendar.png") left center no-repeat;
}
.block-08 .box {
  height: 215px;
  position: relative;
  margin-bottom: 50px;
}
.block-08 .box .box-inner {
  top: 0;
  right: 0;
  background: #453d44;
  position: absolute;
  content: '';
  width: 9999px;
  height: 215px;
  display: block;
}
.block-08 .box ul {
  top: 30px;
  left: 0;
  position: absolute;
}
.block-08 .box ul li {
  color: #f4f2e9;
  font-size: 18px;
  padding-top: 6px;
  padding-left: 40px;
  margin-bottom: 15px;
  font-family: 'exo_2.0extra_light';
  background: url("../img/list-cheked.png") 0 0 no-repeat;
}
.block-08 p {
  font-size: 22px;
  margin-bottom: 20px;
  font-family: 'exo_2.0extra_light';
}
.block-09 {
  height: 950px;
  background: url("../img/block-09_bg.jpg") top center no-repeat;
  background-size: cover;
}
.block-09 h2 {
  text-align: center;
  padding-top: 120px;
  margin-bottom: 190px;
}
.block-09 .contact {
  margin-left: 0px;
}
.block-09 .contact .logo {
  width: 170px;
  height: 170px;
  margin: 0 auto 15px 380px;
  background: url("../img/logo-contact.png") 0 0 no-repeat;
}
.block-09 .contact li {
  line-height: 1;
  font-size: 22px;
  text-align: center;
  color: #2f313c;
  padding-bottom: 5px;
  font-family: 'exo_2.0extra_light';
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  transform: rotate(-7deg);
}
.block-09 .contact li.item1 {
  font-size: 36px;
  font-family: 'exo_2.0light';
}
.block-09 .contact li.item2 {
  margin-bottom: 15px;
}
.top-contact {
  top: 45px;
  right: 0;
  width: 220px;
  height: 50px;
  text-align: right;
  position: absolute;
}
.top-contact .phone {
  color: #fff;
  font: 28px/30px 'playregular';
}
.top-contact .worktime {
  font-size: 12px;
  line-height: 16px;
  color: #e9a13b;
  text-transform: uppercase;
}
.bottom-block {
  left: 0;
  right: 0;
  bottom: 50px;
  position: absolute;
}
.bottom-block .text {
  color: #fff;
  width: 50%;
  float: left;
  font-size: 36px;
  font-family: 'exo_2.0light';
}
.bottom-block .btn {
  float: right;
}
.page-center {
  top: 50%;
  left: 0;
  width: 100%;
  position: absolute;
}
/* Button & Form */
.cform {
  width: 100%;
}
.cform ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.cform li {
  position: relative;
  margin-bottom: 20px;
}
.cform li label {
  display: none;
}
.cform li .reqtxt {
  display: none;
}
.cform li input[type="text"] {
  width: 310px;
  height: 47px;
  outline: none;
  display: block;
  color: #3d3e54;
  font-size: 18px;
  line-height: 20px;
  background: transparent url("../img/input-tel.png") 0 0 no-repeat;
  text-align: left;
  padding: 13px 10px 13px 75px;
  border: none;
}
.cform li select {
  width: 310px;
  height: 47px;
  outline: none;
  display: block;
  color: #3d3e54;
  font-size: 18px;
  line-height: 20px;
  background: transparent url("../img/input-select.png") 0 0 no-repeat;
  text-align: left;
  padding: 13px 10px 13px 20px;
  border: 1px solid transparent;
}
.cform li:first-child input[type="text"] {
  background: transparent url("../img/input-name.png") 0 0 no-repeat;
}
.cform .sendbutton {
  display: block;
  width: 100%;
}
.cform li:last-child {
  width: 100%;
  height: 30px;
  color: #3d3e54;
  margin: 0 auto;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  position: relative;
}
.cform li:last-child label {
  width: 100%;
  height: 30px;
  text-align: center;
  display: block;
  overflow: hidden;
}
.cform li:last-child label span {
  border-bottom: 1px dashed #071329;
}
.cform li:last-child input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  font-size: 150px;
  height: 50px;
  z-index: 20;
  cursor: pointer;
}
#consultation {
  width: 410px;
  height: 500px;
  padding: 50px;
  background: #d2d0ce;
}
#consultation .form-header {
  text-align: center;
  font: 22px/30px 'exo_2.0semi_bold';
  text-transform: uppercase;
}
/* Buttons */
.btn,
.sendbutton {
  margin: 0;
  color: #fff;
  height: 47px;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  padding: 5px 30px;
  line-height: 35px;
  text-align: center;
  white-space: nowrap;
  font-weight: normal;
  background: #e9a13b;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  font-family: 'exo_2.0semi_bold';
  border: 1px solid #e9a13b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: ease-out 0.2s;
  -moz-transition: ease-out 0.2s;
  -o-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}
.btn:hover,
.sendbutton:hover {
  background: #b76f08;
  text-decoration: none;
  border: 1px solid #b76f08;
}
/* Preloader */
.preloader-inner {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #071329;
}
.preloader-inner .wrap {
  width: 100%;
  height: 100%;
  position: relative;
}
.preloader {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 65px;
  height: 85px;
  margin-top: -42px;
  margin-left: -32px;
  z-index: 100;
}
.preloader .holder {
  position: relative;
  width: 65px;
  height: 85px;
}
.preloader .one {
  width: 14px;
  height: 70px;
  transform: rotate(25deg);
  background-color: #0071b8;
  position: absolute;
  left: 12px;
  border-radius: 10px;
  z-index: 2;
  top: 0;
}
.preloader .two {
  width: 14px;
  height: 70px;
  transform: rotate(-25deg);
  background-color: #0063a1;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 36px;
  z-index: 2;
}
.preloader .three {
  position: relative;
  width: 40px;
  background-color: #0368a7;
  height: 11px;
  left: 13px;
  top: 40px;
  z-index: 1;
  border-radius: 10px;
}
.preloader p {
  position: absolute;
  font-family: Arial;
  text-align: center;
  font-size: 10px;
  font-style: italic;
  bottom: 0px;
  color: #363636;
  text-transform: uppercase;
  left: 0;
  padding: 0;
  margin: 0;
  z-index: 3;
  width: 100%;
}
.preloader .double_bounce1,
.preloader .double_bounce2 {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: -29px;
  left: -38px;
  -webkit-animation: bounce 2s infinite ease-in-out;
  animation: bounce 2s infinite ease-in-out;
}
.preloader .double_bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.preloader.invert .one {
  background-color: #fff;
}
.preloader.invert .two,
.preloader.invert .three {
  background-color: #f1f1f1;
}
.preloader.invert .double_bounce1,
.preloader.invert .double_bounce2 {
  background-color: #0063a1;
}
.preloader.invert p {
  color: #fff;
}
@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: scale(0.3);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
/* Typography
   ========================= */
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-family: #e9a13b;
}
h1 {
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
}
h2 {
  font-size: 48px;
  line-height: 1;
  font-family: 'exo_2.0light';
}
h4 {
  font-size: 30px;
}
p {
  padding: 0;
  margin: 0 0 10px 0;
}
a {
  color: #e9a13b;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
