@font-face {
    font-family: 'exo_2.0extra_light';
    src: url('Exo2.0-ExtraLight-webfont.eot');
    src: url('Exo2.0-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('Exo2.0-ExtraLight-webfont.woff2') format('woff2'),
         url('Exo2.0-ExtraLight-webfont.woff') format('woff'),
         url('Exo2.0-ExtraLight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exo_2.0light';
    src: url('Exo2.0-Light-webfont.eot');
    src: url('Exo2.0-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Exo2.0-Light-webfont.woff2') format('woff2'),
         url('Exo2.0-Light-webfont.woff') format('woff'),
         url('Exo2.0-Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exo_2.0regular';
    src: url('Exo2.0-Regular-webfont.eot');
    src: url('Exo2.0-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Exo2.0-Regular-webfont.woff2') format('woff2'),
         url('Exo2.0-Regular-webfont.woff') format('woff'),
         url('Exo2.0-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exo_2.0semi_bold';
    src: url('Exo2.0-SemiBold-webfont.eot');
    src: url('Exo2.0-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Exo2.0-SemiBold-webfont.woff2') format('woff2'),
         url('Exo2.0-SemiBold-webfont.woff') format('woff'),
         url('Exo2.0-SemiBold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}